@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
:root{
    --action-col: #FF5400;
    --font-col: #131318;
    --input-col: #F3F3F3;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Mulish", sans-serif;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.nav-logo{
    display: flex;
    align-items: center;
}
.nav-logo>h2{
    margin-left: 20px;
}
.nav-logo>h2>span{
    color: var(--action-col);
}
nav>ul{
    display: flex;
}
nav>ul>li{
    list-style: none;
    margin-right: 30px;
}
nav>ul>li:hover{
    color: var(--action-col);
    cursor: pointer;
}
.nav-toggle{
    display: none;
}
.banner-container{
    background-image: url("./img/Group\ 13\ \(1\)\ \(1\).png");
    border-radius: 10px;
    text-align: center;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px 20px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}
.banner-container>h1{
    font-size: 6rem;
    color: white;
    margin-bottom: 20px;
}
.banner-container>p{
    font-size: 1.2rem;
    color: white;
    margin-bottom: 80px;
}
.banner-searchbox{
    max-width: 800px;
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    margin: 0 auto;
    padding: 20px 0;
    border-radius: 10px;
    position: relative;
    z-index: 2;
}
.banner-searchbox::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    top: 0;
    border-radius: 10px;
    z-index: -1;
}
.banner-searchbox>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 20%;
    padding: 20px 10px;
    border-radius: 10px;
}
.banner-searchbox>.banner-btn{
    background-color: var(--action-col);
    padding: 20px;
    color: white;
}
/*================= header part end here===================== */
@media screen and (max-width: 576px){
    main{
        margin: 20px;
    }
    nav>ul{
        display: none;
    }
    .nav-toggle{
        display: block;
        margin-right: 20px;
    }
    .nav-logo{
        margin-left: 10px;
    }
    .banner-container{
        height: 70vh;
        padding-bottom: 30px;
    }
    .banner-container>h1{
        font-size: 2.2rem;
    }
    .banner-container>p{
        font-size: .8rem;
        margin-bottom: 20px;
    }
    .banner-searchbox{
        flex-direction: column;
    }
    .banner-searchbox>div{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .banner-searchbox>.banner-btn{
        justify-content: center;
    }
    .banner-searchbox>.banner-btn>i{
        margin-right: 20px;
    }
}